<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="css/FAQ.css" />
  </head>
  <body>
    <div class="accueil"><a href="/">Accueil</a></div>
    <br />
    <br />
    <div class="container">
      <div class="group">
        <input type="checkbox" id="i1" />
        <div class="question">
          <label for="i1"
            >1-Y-a-t-il des ascenseurs dans toutes vos résidences et blocs
            ?</label
          >
        </div>
        <div class="answer">
          <p class="text">
            Oui, chaque bloc de chaque résidence: Marina et Hiba dispose d'un
            ascenceur.
          </p>
        </div>
      </div>
      <div class="group">
        <input type="checkbox" id="i2" />
        <div class="question">
          <label for="i2">
            2-Comment puis-je suivre l'avancement des travaux ?</label
          >
        </div>
        <div class="answer">
          <p class="text">
            Nous mettrons à jour l'avancement des travaux sur notre site web
            ainsi que sur notre page facebook. <br />
            Vous pouvez également nous contacter par mail ou appeler le service
            commercial.
          </p>
        </div>
      </div>
      <div class="group">
        <input type="checkbox" id="i3" />
        <div class="question">
          <label for="i3"
            >3-Les cuisines et salles de bain sont-elles entièrement équipées
            ?</label
          >
        </div>
        <div class="answer">
          <p class="text">
            Les cuisines et salles de bain sont semi-équipées sans
            électroménager.
          </p>
        </div>
      </div>
      <div class="group">
        <input type="checkbox" id="i4" />
        <div class="question">
          <label for="i4">4-Quelles sont les modalités de paiement?</label>
        </div>
        <div class="answer">
          <p class="text">
            Le paiment s'effectue par crédit bancaire ou par autofinancement en
            plusieurs tranches.
          </p>
        </div>
      </div>
      <div class="group">
        <input type="checkbox" id="i5" />
        <div class="question">
          <label for="i5"
            >5-Y a t-il un accompagnement auprès des banques?</label
          >
        </div>
        <div class="answer">
          <p class="text">Oui bien sûr, au niveau du chef lieu.</p>
        </div>
      </div>
      <div class="group">
        <input type="checkbox" id="i6" />
        <div class="question">
          <label for="i6">
            6- Les frais de l'acte sont-elles à la charge du prommoteur?</label
          >
        </div>
        <div class="answer">
          <p class="text">Non, elles ne le sont pas.</p>
        </div>
      </div>
    </div>
  </body>
</html>
