<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NOS PROJETS</title>
    <link rel="stylesheet" href="css/NosProjets.css" />
  </head>
  <body>
    <div class="accueil"><a href="/">Accueil</a></div>
    <div class="contenu">
      <div class="description-contenu">
        <h1>RÉSIDENCE HIBA</h1>
        <br />
        <br />
        <img
          src="img/ABOUDAOU 04-min.jpg"
          alt=""
          class="img-responsive floating-image droite"
        />
        <br />
        <section>
          <h2>Le site de la residence Hiba</h2>

          <span>
            Notre résidence "Hiba" se trouve a Aboudaou, un site plutôt
            agréable,calme avec une belle vue, proche des écoles ,
            infrastructures médicales, plages, aéroport ...ect <br />
            Notre promotion propose multiples logements en F1, F2, F3 et F4 en
            simplex, nous faisons de la vente sur plans et clés à mains. <br />
            Vente sur plans (VSP): le futur acquirreur consulte les plans et
            choisit son appartement après avoir présenté les documents d'état
            civils exigés, notamment une pièce d'identité et un extrait d'acte
            de naissance. <br />
            Une attestation de réservation lui sera délivrée par le prommoteur
            après avoir procédé au versement d'un apport de 20% exigé par la
            réglementation en vigueur notamment la loi 11/04 relative à la
            promotion immobilière, et une attestation d'apport du montant versé
            lui sera délivré. <br />
            Le reste des tranches seront versées selon l'état d'avancement des
            travaux comme suit: <br />
            15% à l'achèvement des fondations. <br />
            35% à l'achèvement de l'infrastructure. <br />
            25% à l'achèvement des CES (Corps d'état secondaire). <br />
            5% à la remise des clés. <br />
            Vente clés à mains : se fait après l'achèvement de la promotion, le
            client pourra visiter l'appartement avec un guide s'il le souhaite.
            <br />
            <br />
          </span>
          <br />
          <br /><br />

          <!--     IMAGES AVEC DES EFFETS ZOOM plan de masse et situation -->

          <div class="row">
            <div id="zoom-In">
              <figure>
                <img src="img/PM.jpg" alt="" />
              </figure>
              <br />
              <h3>Plan de masse</h3>
              <p>
                Le plan de masse est un plan dessiné généralement par le bureau
                d'étude permettant de visualiser l'ensemble du projet. <br />
                Y figurent de multiples renseignements, il assure le calcul de
                la surface, délimite la zone à construire et apporte des
                informations sur la topographie du terrain.
              </p>
            </div>
            <br />

            <div id="zoom-In">
              <figure>
                <img src="img/PS.jpg" alt="" />
              </figure>
              <br />
              <br />
              <h3>Plan de situation</h3>
              <p>
                Le plan de situation est un document graphique aérien qui
                précise la situation géographoque d’un terrain bâti ou non bâti.
              </p>
            </div>

            <br />
            <br />
            <div>
              <h1>CRÈCHE</h1>
              <p>
                La résidence Hiba dispose également d'une crèche pour enfants
                construite en un rez-de-chaussée et un étage, disposée d'un
                grand jardin, un air de jeux s'y trouve également (balançoires,
                tobogans...)
              </p>
            </div>

            <!-- IMAGES DE LA CRECHE -->

            <div class="contenu1">
              <div>
                <img src="img/creche-min.jpg" alt="" />
              </div>
              <div>
                <img
                  src="img/ABOUDAOU 07-min.jpg"
                  alt=""
                />
              </div>
            </div>

            <!-- RDC ET PREMIER ETAGE CRECHE  -->

            <div class="row">
              <div id="zoom-In">
                <figure>
                  <h3>Premier étage</h3>
                  <br />
                  <img src="img/1er etage.jpg" alt=" " />
                </figure>
              </div>

              <div id="zoom-In">
                <figure>
                  <h3>Rez-de-chaussée</h3>
                  <br />
                  <img src="img/RDC.jpg" alt="" />
                </figure>
              </div>

              <br />
              <br />

              <!--  PISCINE ET SALLE DE SPORT-->

              <div>
                <h1>DE PLUS</h1>
                <p>
                  Nous proposons également une piscine pour enfants et une salle
                  de sport.
                </p>
              </div>

              <div class="contenu1">
                <div>
                  <img src="img/sp.jpg" alt="" />
                </div>
                <div>
                  <img src="img/p.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
